*.elc
/elpa/
/persp-confs/
/projectile-bookmarks.eld
*~
/ac-comphist.dat
/bookmarks/
/custom.el
/semanticdb/
/nrepl-history
/eshell/history
/eshell/lastdir
/url/
/var/
/tramp
/private.el
/org-clock-save.el
/lib/private.el
/history
/helm-adaptive-history
/places
/projectile.cache
/.mc-lists.el
/company-statistics-cache.el
/eshell/z
/lib/elfeed.org
/.persistent-scratch
/lib/private.gpg
/recentf
