# -*- mode: snippet; require-final-newline: nil -*-
# name: defui component
# key: defui
# binding: direct-keybinding
# --
(ui $1
  static om/Ident
  (ident [_ {:keys [:db/id]}] [:db/id id])
  static om/IQueryParams
  (params [this] {})
  static om/IQuery
  (query [this] [])
  #?@(:cljs
      [Object
       (render
        [this]
        (html
         [:pre "%1:" (om/props this)]))]))
