# -*- mode: snippet; require-final-newline: nil -*-
# name: defui component
# key: defui
# binding: direct-keybinding
# --
(defui $1
  static om/IQueryParams
  (params [this] {})
  static om/IQuery
  (query [this] [])
  Object
  (render [this]
    (html
      [:pre "%1:" (om/props this)])))
